In [4]:
import pandas as pd
import numpy as np

games = pd.read_csv('C:/MachineLearning TP/recommendtationSystem/game dataset/games_preprocessing.csv')

In [15]:
games = games.reset_index(drop=False)
games.head()

,index,Unnamed: 0,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,0,15005,282010,Carmageddon Max Pack,1997,1,0,0,90,85,428,9.99,9.99,0.0,1
1,1,31261,232770,POSTAL,1997,1,1,1,90,85,2329,0.00,0.00,0.0,1
2,2,47376,70,Half-Life,1998,1,1,1,95,96,72475,9.99,9.99,0.0,1
3,3,34507,224920,Legacy of Kain: Soul Reaver,1999,1,0,0,80,73,1467,0.00,0.00,0.0,1
4,4,8617,20,Team Fortress Classic,1999,1,1,1,90,85,5146,4.99,4.99,0.0,1

In [9]:
title = games['title']
games2 = games.drop('title', axis=1)
item_sim = games2.dot(games2.T) / np.linalg.norm(games2, axis=1)

MemoryError: Unable to allocate 19.3 GiB for an array with shape (50872, 50872) and data type float64

In [10]:
item_sim.head()
# item_sim.to_csv('item_similarity.csv')

,0,1,2,3,4,5,6,7,8,9,...,50862,50863,50864,50865,50866,50867,50868,50869,50870,50871
0,282416.318304,281495.135320,8840.229265,281027.648235,13791.359359,10182.336728,5383.294853,15910.834670,13967.622514,16113.328104,...,282263.990901,282258.826710,282160.886294,282306.767400,282118.778047,282266.861212,282256.405915,282256.432234,282156.166723,282259.327417
1,234113.735176,234879.864186,19283.390867,234837.244912,28337.750062,21106.582121,12517.964434,31931.851555,26890.272919,31795.328390,...,233375.076856,233360.271152,233102.724522,233505.911533,233004.447150,233383.389442,233353.448892,233353.481987,233093.143861,233361.980378
2,2711.046593,7110.511737,86609.043117,7737.904678,76721.342478,86126.494898,84040.189455,60752.526166,83109.274838,59821.699018,...,1064.000659,1037.322123,625.019844,1305.918579,440.006818,1079.214894,1028.644846,1025.687040,583.222764,1044.083366
3,226446.192646,227523.861891,20331.334993,227565.153901,30622.172098,22298.509412,12770.279966,34890.930891,28670.181702,34693.926732,...,225594.738294,225578.033674,225288.356167,225742.885677,225179.383532,225604.119172,225570.279603,225570.369276,225278.296342,225579.915662
4,499.787702,1234.775080,9066.115147,1377.204742,10234.538817,9411.054826,7719.605176,9643.153516,10035.613129,9679.558553,...,202.214040,197.344745,120.547200,246.344700,88.886237,204.969470,195.338741,195.152160,114.332855,198.039423

In [16]:
games.head()

,index,Unnamed: 0,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,0,15005,282010,Carmageddon Max Pack,1997,1,0,0,90,85,428,9.99,9.99,0.0,1
1,1,31261,232770,POSTAL,1997,1,1,1,90,85,2329,0.00,0.00,0.0,1
2,2,47376,70,Half-Life,1998,1,1,1,95,96,72475,9.99,9.99,0.0,1
3,3,34507,224920,Legacy of Kain: Soul Reaver,1999,1,0,0,80,73,1467,0.00,0.00,0.0,1
4,4,8617,20,Team Fortress Classic,1999,1,1,1,90,85,5146,4.99,4.99,0.0,1

In [39]:
def cosSim_get_similar_games(game_id, item_sim, games):
  target_row = games.loc[games["app_id"] == game_id]

  target_row_index = target_row.index[0]

  target_row_sim = item_sim[target_row_index]

  top_3_indices = target_row_sim.argsort()[-4:][::-1]

  return games.iloc[top_3_indices][1:]

# 선호 표현 게임 아이디
game_id = 2599300
games[games['app_id']==game_id] # 주어진 게임(선호 게임)

,index,Unnamed: 0,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
47499,47499,17243,2599300,Dead Signal,2023,1,0,0,90,92,138,8.0,0.0,0.0,1

In [40]:
cosSim_get_similar_games(game_id, item_sim, games).head() # 유사도 상위 3개 게임, 순서 바꿔서 해도 결과 유사

,index,Unnamed: 0,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
48367,48367,17142,2593020,NARAKA: BLADEPOINT - Pioneer Season Pack,2023,1,0,0,50,43,57,15.0,0.0,0.0,1
47526,47526,17240,2585640,Warhammer: Vermintide 2 - Necromancer Cosmetic...,2023,1,0,0,80,78,37,0.0,0.0,0.0,1
48596,48596,17131,2585630,Warhammer: Vermintide 2 - Necromancer Career,2023,1,0,0,90,92,69,4.0,0.0,0.0,1